*{
    margin: 0px;
    padding: 0px;
}

@font-face{font-family:'dillen';
    src:url('font/Dillen.ttf') format('truetype'),
}

body{
    font-family: Dillen;
}



.head{
    background-color: #0a0f13;
    height: 80px;
    width: 100%;
    box-shadow: #07090a 0px 5px 10px;


    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.one-header{
    background-color: #0a0f13;
    height: 100%;      
    text-align: center;
}


.log{
    height: 100%;
    color: #ffffff;
    padding-top: 10px;
}

.nothing{
    width: 100px;
    height: 100px;
}

.cover-box{
    width: 300px;
    border-radius: 10px;
    margin: 10px;

}

.box-back{
    text-align: center;
    margin: 20px;
}










.end-site{
    background-color: #07090a;
    width: auto;
    height: 200px;
    box-shadow: #000000 15px 0px 5px;

    padding-left: 50px;
    padding-top: 50px;
}


.title-end{
    color: #d1cdff;
    line-height: 50px;
    font-size: 40px;
}
.txt-end{
    color: #444444;
    line-height: 30px;
    font-size: 15px
}
